[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynamicTreeCut"]
	path = dynamicTreeCut
	url = https://github.com/cran/dynamicTreeCut
[submodule "flashClust"]
	path = flashClust
	url = https://github.com/cran/flashClust
[submodule "moduleColor"]
	path = moduleColor
	url = https://github.com/cran/moduleColor
[submodule "PropClust"]
	path = PropClust
	url = https://github.com/cran/PropClust
[submodule "randomGLM"]
	path = randomGLM
	url = https://github.com/cran/randomGLM
[submodule "WGCNA"]
	path = WGCNA
	url = https://github.com/cran/WGCNA
